  <div class="create_cont">
    <form action="${base}" method="post">
      <fieldset class="create_cont">
  	<legend>New Container</legend>
  	<input type="hidden" name="_action" value="cont_create" id="create_cont" />
  	<input id="cont_name" type="input" name="cont_name" size="24" maxlength="254" placeholder="New Container Name"/>
  	<input id="cont_btn" type="submit" value="Create">
      </fieldset>
    </form>
  </div>
