<form action="" method="post">
<fieldset>
<input type="hidden" name="_action" value="create" id="create_cont" />
<label for="cont_name">New Container</label>
<input id="cont_name" type="input" name="cont_name" maxlength="1024" />
<div class="button">
<input id="cont_btn" type="submit" value="Create">
</div>
</fieldset>
</form>
