<div class="create_cont">
  <form action="" method="post">
    <fieldset class="create_cont">
      <legend>New Container</legend>
      <input type="hidden" name="_action" value="create" id="create_cont" />
      <input id="cont_name" type="input" name="cont_name" size="24" maxlength="1024" placeholder="New Container Name"/>
      <input id="cont_btn" type="submit" value="Create">
    </fieldset>
  </form>
</div>
