<div class="navigate">
  <nav id="navi">
    <ul id="navigate">
      % if account:
      <li><a href="${top}/v1/${account}?limit=${limit}">${account}</a></li>
      % endif
      % if container:
      <li><a href="${top}/v1/${account}/${container}?limit=${limit}">${container_unquote}</a></li>
      % endif
      % if prefix:
      <%
	 from urllib import unquote
	 prefixes = []
	 _pref = prefix.split(delimiter)
	 for i in range(1, len(_pref)):
	     dir = delimiter.join(_pref[:i]) + delimiter
	     prefixes.append(dir)
      %>
      % for p in prefixes:
      <li><a href="${top}/v1/${account}/${container}?limit=${limit}&delimiter=${delimiter}&prefix=${p}">${unquote(p)}</a></li>
      % endfor
      % endif
      % if account:
      <li><a href="${top}/v1/${account}?_action=logout">Logout</a></li>
      % endif
    </ul>
  </nav>
</div>
