## -*- coding: utf-8 -*-
<%
   from time import strftime, strptime, localtime, mktime, timezone
   from urllib import unquote
%>
<article class="objects">
  % if not any([delete_confirm, meta_edit]):
  <div class="upload_obj">
    <form action="${base}" method="post" enctype="multipart/form-data">
      <fieldset class="upload_obj">
	<legend>Upload Object</legend>
	<input type="hidden" name="_action" value="obj_create" id="create_obj" />
	<input id="id_username" type="file" name="obj_name" size="24" />
	<input id="upload_btn" type="submit" value="upload">
      </fieldset>
    </form>
  </div>
  % endif
  <table class="objects">
    <tr class="obj_list">
      <th class="obj_name">Name</th>
      <th class="obj_status">Status/Metadata</th>
      <th class="obj_action">Action</th>
    </tr>
    % for i in objects:
    <% 
       name = i['name']
       unquote_name = objects_unquote[name]
    %>
    <tr class="obj_list">
      <td class="obj_name">
	<a href="${base}/${name}" class="obj_name">
      	  <img src="${top}/image/file.png" class="obj_icon" alt="${unquote_name} icon">${unquote_name}
      </a></td>
      <td class="obj_status">
	<ul class="status">
	  <li class="default_status">Content-Type: ${i['content_type']}</li>
	  <li class="default_status">Size: ${'{:,}'.format(int(i['bytes']))}</li>
	  <%
	     modified = localtime(mktime(strptime(i['last_modified'].partition('.')[0] + ' GMT', '%Y-%m-%dT%H:%M:%S %Z')) - timezone)
	  %>
	  <li class="default_status">Last-modified: ${strftime('%Y-%m-%d %H:%M:%S', modified)}</li>
	  % for m in object_meta[name].keys():
	  <li class="metadata">${unquote(m)}: ${unquote(object_meta[name][m])}</li>
	  % endfor
	  % if delete_set_time.get(name, None):
	  <li class="delete_set_time">Going to delete on: ${strftime('%Y-%m-%d %H:%M:%S', localtime(int(delete_set_time.get(name))))}</li>
	  % endif
	</ul>
      </td>
      <td class="obj_action">
	<ul class="obj_action">
	  <li>
	    % if name == delete_confirm:
	    <a href="${base}" class="cont_action">Stop delete confirming</a>
	    % else:
	    <a href="${base}?delete_confirm=${name}" class="cont_action">Delete</a>
	    % endif
	  </li>
	  <li>
	    <form action="${base}/${name}" method="post">
      	      <input type="hidden" name="_action" value="obj_copy" id="copy_obj" />
	      <input type="hidden" name="from_object" value="${name}" id="from_obj" />
	      <input type="submit" value="Copy"> to
      	      <select name="to_container" size="1">
		% for c, u in zip(container_names, container_unquote_names):
		<option value=${c}>${u}</option>
		% endfor
	      </select>
 	      <input type="text" name="to_object" size="20" maxlength="256" placeholder="New objname if change">
	    </form>
	  </li>
	  <li>
 	    % if name == meta_edit:
	    <a href="${base}" class="cont_action">Stop editing Metadata</a>
	    % else:
	    <a href="${base}?meta_edit=${name}" class="cont_action">Edit MetaData</a>
	    % endif
	  </li>
	    <form action="${base}/${name}" method="post">
      	      <input type="hidden" name="_action" value="obj_set_delete_time" id="set_delete_obj" />
	      <input type="hidden" name="object_name" value="${name}">
	      <input type="submit" value="Set"> delete on 
	      <input type="datetime-local" name="obj_delete_time">
	      (if set blank, schedule is clear)
	    </form>
	  <li>
	  </li>
	</ul>
      </td>
    </tr>
    <tr>
    % if name == delete_confirm:
      <td colspan="3">
	  <fieldset class="delete_confirm">
	    <legend>Delete ${unquote_name} Confirm</legend>
	    <p>Are you sure?</p>
	    <form action="${base}/${name}" method="post">
	      <input type="hidden" name="_action" value="obj_delete">
	      <input type="hidden" name="object_name" value="${name}">
	      <input type="submit" value="Ok">
	    </form>
	    <input type="submit" value="Cancel">
	  </fieldset>
      </td>
    </tr>
    % endif
    % if name == meta_edit:
    <tr>
      <td colspan="3">
	<form action="${base}/${name}" method="post">
	  <input type="hidden" name="_action" value="obj_metadata">
	  <input type="hidden" name="object_name" value="${name}">
	  <fieldset class="meta_edit">
	    <legend>Metadata Edit</legend>
	    <table>
	      <tr><th>Key</th><th>Value</th><th>
		  % if len(object_meta[name]) != 0:
		  Remove
		  % endif
	      </th></tr>
	      % for m in object_meta[name].keys():
	      <tr><td>${unquote(m)}</td><td>${unquote(object_meta[name][m])}</td>
		<td><input type="checkbox" name="remove-x-object-meta-${m.lower()}"></td></tr>
	      <input type="hidden" name="x-object-meta-${m.lower()}" value="${object_meta[name][m]}">
	      % endfor
	      % for n in range(3):
	      <tr><td><input type="text" name="object_meta_key${n}" size="12" maxlength="128"
			     placeholder="New object metadata name"></td>
		<td colspan="2"><input type="text" name="object_meta_val${n}" size="24" maxlength="256"
				       placeholder="Object metadata value"></td></tr>
	      % endfor
	    </table>
	    <input type="submit" value="Commit">
	  </fieldset>
	</form>
      </td>
    </tr>
    % endif
    % endfor
  </table>
  % if len(objects)!=0 and not any([delete_confirm, meta_edit]):
  <div class="upload_obj">
    <form action="${base}" method="post" enctype="multipart/form-data">
      <fieldset class="upload_obj">
	<legend>Upload Object</legend>
	<input type="hidden" name="_action" value="obj_create" id="create_obj" />
	<input id="id_username" type="file" name="obj_name" size="24" />
	<input id="upload_btn" type="submit" value="upload">
      </fieldset>
    </form>
  </div>
  % endif
</article>
