## -*- coding: utf-8 -*-
<!DOCTYPE html>
<html lang=${lang}>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon" />
    <link rel="icon" href="/favicon.ico" type="image/vnd.microsoft.icon" />
    <link rel="stylesheet" href="${top}/css/default.css" type="text/css" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="https://raw.github.com/defunkt/jquery-pjax/master/jquery.pjax.js"></script>
    <script type="text/javascript" src="http://malsup.github.io/jquery.blockUI.js"></script>
    <script type="text/javascript" src="/taylor/js/default.js"></script>
    <title>${title}</title>
    <body>
      <header id="head">
	<h1 class="title">${title}: OpenStack Object Storage Manipulator</h1>
	<p id="message">${message}</p>
      </header>
      <div id="pjax_container">
	<section class="main">
	  % if ptype=='login':
	  <%include file="login.tmpl"/>
	  % endif
	  % if ptype=='containers':
	  <%include file="navi.tmpl"/>
	  <%include file="containers.tmpl"/>
	  % endif
	  % if ptype=='objects':
	  <%include file="navi.tmpl"/>
	  <%include file="objects.tmpl"/>
	  % endif
	</section>
      </div>
      <footer id="foot">
      </footer>
    </body>
</html>
