  <div class="upload_obj">
    <form action="${base}" method="post" enctype="multipart/form-data" id="upload_obj">
      <fieldset id="upload_obj_values" class="upload_obj">
	<legend>Upload Object</legend>
	<input type="hidden" name="_action" value="obj_create" id="create_obj" />
 	<input type="hidden" name="obj_prefix" value="${prefix}" id="obj_prefix" />
	<input id="upfile" type="file" name="obj_name" size="24" />
	<input id="upload_btn" type="submit" value="upload" onclick="get_file_size()">
      </fieldset>
    </form>
  </div>
